{% extends 'base.html' %}

{% block title %} Feeds {% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-7"> 
            {% if user.is_authenticated %}
                <h3 class="m-3">Feeds  <a href="{% url 'post-create' %}" class="btn btn-secondary mx-3"> Post Question</a> </h3>
            {% else %}
                <h3 class="my-3">Feeds </h3>
            {% endif %}

            

            {% for q in posts %}
            <div class="row border-top">
                <div class="col-10">
                    <div class="p-3">
                        <h4><a class="text-decoration-none" href="{% url 'post-detail' q.id %}">{{q.title}}</a></h4>
                        <small class="text-muted">Posted by <a href="{% url 'profile' q.author %}">{{q.author}}</a> on {{q.timestamp |date:"M d, Y" }}</small>
                        <p>{{q.body}}</p>
                        
                        {% for tag in q.tags.all %}
                            <a href="/tags/{{tag.slug}}" class="text-decoration-none"><small class="p-1 bg-light text-secondary border rounded mr-2">{{tag}}</small></a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-2 d-flex flex-column py-2">
                    <div class="d-flex justify-content-center align-items-center py-2">
                        <p>Answers : {{q.count_answers}}</p>
                    </div>
                </div>
            </div>
                
            {% endfor %}

        </div>

        <div class="offset-md-1 col-md-4">
            <div>
                {% if user.is_superuser %}
                <h3 class="my-3">Topics  <a href="{% url 'topic-add' %}" class="btn btn-secondary mx-3"> Add Topic</a> </h3>
                {% else %}
                <h3 class="my-3">Topics </h3>
                {% endif %}

                <ol class="list-group">
                    {% for topic in topics %}
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold"><a href="{% url 'topic-detail' topic.id %}" class="text-decoration-none text-dark">{{topic.title}}</a></div>
                        {{topic.description}}
                    </div>
                    <span class="badge bg-primary rounded-pill">{{topic.count_questions}}</span>
                    </li>
                    {% endfor %}
                </ol> 
            </div>


            <div class="my-5">
                <h3 class="my-3">Popular tags </h3>

                {% for tag in common_tags %}
                    <a href="/tags/{{tag.slug}}" class="text-decoration-none my-2"><small class="bg-light text-secondary border rounded mr-2">{{tag}}</small></a>
                {% endfor %}
            </div>
            
        </div>
    </div>
    


{% endblock %}