
{% extends "base.html" %}

{% block title %} Feeds {% endblock %}

{% block body %}

    <div class="my-5 col-9 m-auto">
        <div class="pb-3 border-bottom">
            <h2>Answered Questions nhjhjhj</h2>
        </div>
        {% for question in questions %}
        <div class="row border-bottom p-3">     
            <div class="col-1">
                <div class="d-flex flex-column">
                    <div class="py-2 text-center">{{question.total_votes}} <br> votes</div>
                    <div class="py-2 text-center">{{question.count_answers}} answers </div>
                </div>
            </div>
            <div class="col-11">
                <h5><a href="/q/{{question.slug}}" class="text-decoration-none">{{question.title}}</a></h5>
                <p class="text-muted">Posted by <a href="{% url 'profile' question.user%}">{{question.user}}</a> on {{question.timestamp }} </p>
                <p>{{question.content}}</p>
                <small class="bg-light px-3 py-1 text-muted">Add tag</small> 
                {% for tag, count in popular_tags %}
                    <a href="#"><span class="">{{ count }} {{ tag }}</span></a>
                {% endfor %} 
            </div>
        </div>
        {% empty %}
            <p>No Questions</p>
        {% endfor %}
    </div>

    
{% endblock %}