{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-7 m-auto pt-5 text-center">
        <h1 class="mb-3">Welcome to ATTC Community Forum</h1>
        <p class="mb-3">A platfrom for students and teachers of ATTC where they can clear their doubts related to colleges</p>
        <a class="btn btn-primary py-2 px-5" href="{% url 'signup' %}"> Get Started</a>
    </div>
</div>

{% endblock %}

    <div class="col-md-9 pt-5">
        <div class="row">
        <div class="row justify-content-md-center just">
            <!--for get started coloumn-->
          <div class="col-md-6 hero-text order-md-1 order-2 justify-content-center">
           <h1 class="font-weight-bold mb-4">WELCOME TO ATTC COMMUNITY FORUM </h1>
           <div class="mb-4">
            <p class="">A platform for students and teacher of ATTC where they can clear their doubts related to college.
            </p>
            <br>
            <div class="mt-2"><button type="button" class="btn btn-primary px-5 py-2">Get Started</button></div>
           </div>
           </div>
          
        </div>
      </div>   
</body>
</html>