
{% extends "base.html" %}

{% block title %} {{user}} {% endblock %}

{% load static %}

{% block body %}

    <div>
        {% for message in messages %}
            
            <div >
                <div role="alert">
                    <span>{{message}}</span>
                </div>
            </div>
           
        {% endfor %}

        <div>
            <div>

                <div>
                    <img src="{{u_page.profile_img.url}}" alt="profile image">
                </div>

                <div>
                    <h2> 
                        {% if usr.first_name %}
                            {{usr.first_name}} {{usr.first_name}} 
                        {% else %}
                            {{usr.username}}
                        {% endif %}
                    </h2>

                    <small>@{{usr.username}} </small>
                    {% if usr.is_staff %}
                        &nbsp; <span>staff</span>
                    {% endif %}

                    {% if user.is_authenticated %}
                        {% if user == u_page.user %}
                            <div>
                                <a href="#" >edit profile</a> &nbsp;&nbsp;
                                <a href="{% url 'logout' %}">logout</a>
                            </div>
                        {% endif %}
                    {% endif %}
                    
                </div>
            </div>
        </div>
             
    </div>

{% endblock %}

