
{% extends "base.html" %}

{% block title %} {%if u_page.user.first_name %} {{u_page.user.first_name}} {{u_page.user.last_name}} {% else %} {{u_page.user.username}} {% endif %} {% endblock %}

{% load static %}

{% block body %}

<div class="py-5">
    {% for message in messages %}
        
        <div class="w-50 m-auto">
            <div class=" alert alert-info alert-dismissible fade show" role="alert">
                <span>{{message}}</span>
            </div>
        </div>
       
    {% endfor %}

    <div class="col-8 m-auto">
        <div class="row">

            <div class="col-3 text-center">
                <img src="{{usr.profile.profile_img.url}}" alt="profile image" class="rounded-circle profile-img border border-primary" >
            </div>

            <div class="col-9">
                <h2 class="mb-0 mt-4"> 
                    {% if usr.first_name %}
                        {{usr.first_name}} {{usr.last_name}} 
                    {% else %}
                        {{usr.username}}
                    {% endif %}
                </h2>

                <small class="text-muted">@{{usr.username}} </small>
                {% if usr.is_staff %}
                &nbsp; <small class="border border-success rounded text-success p-1"> verified staff  <i class="bi bi-check-circle"></i></small>
                {% endif %}

                {% if user.is_authenticated %}
                    {% if user == u_page.user %}
                        <div class="mt-3">
                            <a href="{% url 'edit-profile' %}" class="btn btn-outline-primary btn-sm">edit profile</a> &nbsp;&nbsp;
                            <a href="{% url 'logout' %}" class="btn btn-primary btn-sm">logout</a>
                        </div>
                    {% endif %}
                {% endif %}
                
            </div>
        </div>
    </div>


    <div class="col-8 m-auto mt-5">
        <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Questions</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Answers</button>
            </li>
        </ul>
    
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <h5 class="my-4">All Questions</h5>

                {% for q in question %}
                    {% if q.author == usr %}
                    <div class="row border-top">
                        <div class="col-10">
                            <div class="p-3">
                                <h4><a class="text-decoration-none" href="{% url 'post-detail' q.id %}">{{q.title}}</a></h4>
                                <small class="text-muted">Posted by <a href="{% url 'profile' q.author %}">{{q.author}}</a> on {{q.timestamp |date:"M d, Y" }}</small>
                                <p>{{q.body}}</p>
                                
                                {% for tag in q.tags.all %}
                                <a href="/tags/{{tag.slug}}" class="text-decoration-none"><small class="p-1 bg-light text-secondary border rounded mr-2">{{tag}}</small></a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-2 d-flex flex-column py-2">
                            <div class="d-flex justify-content-center align-items-center py-2">
                                <p>Answers : {{q.count_answers}}</p>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}

                
            </div>
            <div class="tab-pane fade " id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <h5 class="my-4">All Answers</h5>

                {% for q in ans %}
                {% if q.author == usr %}
                <div class="row border-top">
                    <div class="col-10">
                        <div class="p-3">
                            <h4>{{q.question.title}}</h4>
                            <small class="text-muted">Posted by <a href="{% url 'profile' q.author %}">{{q.author}}</a> on {{q.timestamp}}</small>
                            <p>{{q.body}}</p>
                            
                            {% for tag in q.tags.all %}
                            <a href="/tags/{{tag.slug}}" class="text-decoration-none"><small class="p-1 bg-light text-secondary border rounded mr-2">{{tag}}</small></a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}

            </div>
        </div>
    </div>
  
</div>


{% endblock %}

