
{% extends "base.html" %}

{% block title %} {%if u_page.user.first_name %} {{u_page.user.first_name}} {{u_page.user.last_name}} {% else %} {{u_page.user.username}} {% endif %} {% endblock %}

{% load static %}

{% block body %}

<div class="py-5">
    {% for message in messages %}
        
        <div class="w-50 m-auto">
            <div class=" alert alert-info alert-dismissible fade show" role="alert">
                <span>{{message}}</span>
            </div>
        </div>
       
    {% endfor %}

    <div class="col-8 m-auto">
        <div class="row">

            <div class="col-3 text-center">
                <img src="{{usr.profile.profile_img.url}}" alt="profile image" class="rounded-circle profile-img border border-primary" >
            </div>

            <div class="col-9">
                <h2 class="mb-0 mt-4"> 
                    {% if usr.first_name %}
                        {{usr.first_name}} {{usr.first_name}} 
                    {% else %}
                        {{usr.username}}
                    {% endif %}
                </h2>

                <small class="text-muted">@{{usr.username}} </small>
                {% if usr.is_staff %}
                    &nbsp; <i class="bi bi-check-circle"></i>
                {% endif %}

                {% if user.is_authenticated %}
                    {% if user == u_page.user %}
                        <div class="mt-3">
                            <a href="{% url 'edit-profile' %}" class="btn btn-outline-primary btn-sm">edit profile</a> &nbsp;&nbsp;
                            <a href="{% url 'logout' %}" class="btn btn-primary btn-sm">logout</a>
                        </div>
                    {% endif %}
                {% endif %}
                
            </div>
        </div>
    </div>
         
</div>


{% endblock %}

